.DS_Store
231117_Voca.csv
231129_VOCA_EXCEL_VSCODE.xlsx
import tkinter.py
import yfinance as yf.py
Vocabulary Test_tkmacosx_CSV.py
Vocabulary Test_tkmacosx_GPT.py
Vocabulary Test_tkmacosx_XLSX.py
VS Code.code-workspace
__pycache__/streamlit.cpython-312.pyc
__pycache__/tkinter.cpython-312.pyc
tkinter_test.py
